body {
  background: rgb(0 0 0 / 0%); /* transparent, draw panel as you wish */
  margin: 0; /* default is 8px */
  overflow: hidden; /* no scrollbar */
  width: 1920px; /* big enough, disregard window size */
  height: 1080px;
  user-select: none; /* disable text select */
  font-family: sans-serif;
}

.panel {
  overflow: hidden; /* needed because of border-radius */
  display: inline-block; /* wrap content, not fill parent */

  &.vertical-rl {
    writing-mode: vertical-rl;
  }

  &.vertical-lr {
    writing-mode: vertical-lr;
  }
}

.preedit, .aux-up, .aux-down {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1em; /* align preedit and text cursor */

  &.hidden {
    display: none; /* needed because the above display has higher precedence than .hidden's */
  }
}

.candidate-inner {
  display: flex;
  gap: 6px;
  align-items: center; /* English words have lower height */
  line-height: 1em; /* align label and candidates */
  position: relative; /* for absolute position of mark */
}

.label {
  /* Label is usually a single number. Will look ugly when all parts have vertical writing mode. */
  writing-mode: horizontal-tb;
}

.hoverables {
  display: flex;

  .divider {
    display: flex;
  }

  &.vertical {
    flex-direction: column;

    .divider {
      flex-direction: row;
    }
  }

  &.horizontal {
    flex-direction: row;

    .candidate {
      /* When horizontal and there is multi-line candidate,
      make sure other candidates are vertical centered.
      Don't enable it for vertical. It will shrink highlight. */
      display: flex;
    }

    .divider {
      flex-direction: column;
    }
  }

  &.horizontal-scroll {
    block-size: 180px;
    inline-size: 400px;
    flex-wrap: wrap;
    overflow-y: auto;
    overscroll-behavior: none;

    .candidate {
      min-inline-size: 60px;
    }

    .candidate-inner {
      width: 100%;
    }

    .label {
      opacity: 0;
    }

    .highlighted-row .label {
      opacity: 1;
    }

    .divider {
      flex-grow: 1;
    }
  }
}

:is(.vertical-rl, .vertical-lr) .paging svg {
  transform: rotate(90deg);
}

.paging {
  display: flex;

  &.arrow svg {
    block-size: 12px;
    inline-size: 12px;
  }

  &.triangle svg {
    block-size: 16px;
    inline-size: 16px;
  }

  &.scroll {
    .expand {
      block-size: 18px;
      inline-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        transform: rotate(90deg);
        width: 16px;
      }
    }
  }
}

/* When horizontal, paging is shorter than candidates, so need to centralize them. */
.prev, .next {
  display: flex;
  align-items: center;
}

.paging-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.mark {
  opacity: 0;

  &.no-text {
    position: absolute;
    inset-inline-start: 0;
    inline-size: 3px;
    border-radius: 1.5px;
    block-size: 16px;
    background-color: white;
  }
}

.highlighted :active .mark.no-text {
  block-size: 12px;
}

.hidden {
  display: none;
}

.blur {
  backdrop-filter: blur(16px); /* blur background */
}

.contextmenu {
  position: absolute;
  z-index: 1000;
  display: none;
  overflow: hidden;
}

.menu-item {
  display: flex;
  align-items: center;
}
