body {
  background: rgb(0 0 0 / 0%); /* transparent, draw panel as you wish */
  margin: 0; /* default is 8px */
  overflow: hidden; /* no scrollbar */
  width: 1920px; /* big enough, disregard window size */
  height: 1080px;
  user-select: none; /* disable text select */
  font-family: sans-serif;
}

.panel {
  overflow: hidden; /* needed because of border-radius */
  display: inline-block; /* wrap content, not fill parent */
}

.preedit, .aux-up, .aux-down {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1em; /* align preedit and text cursor */

  &.hidden {
    display: none; /* needed because the above display has higher precedence than .hidden's */
  }
}

.hoverables {
  display: flex;

  .divider {
    display: flex;
  }

  &.vertical {
    flex-direction: column;

    .divider {
      flex-direction: row;
    }
  }

  &.horizontal {
    flex-direction: row;

    .divider {
      flex-direction: column;
    }
  }
}

.candidate-inner {
  display: flex;
  gap: 6px;
  align-items: center; /* English words have lower height */
  line-height: 1em; /* align label and candidates */
  position: relative; /* for absolute position of mark */
}

.paging {
  display: flex;
}

/* When horizontal, paging is shorter than candidates, so need to centralize them. */
.prev, .next {
  display: flex;
  align-items: center;
}

.paging-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;

  svg {
    height: 16px;
  }
}

.mark {
  opacity: 0;

  &.no-text {
    position: absolute;
    left: 0;
    width: 3px;
    border-radius: 1.5px;
    height: 16px;
    background-color: white;
  }
}

.highlighted :active .mark.no-text {
  height: 12px;
}

.hidden {
  display: none;
}

.blur {
  backdrop-filter: blur(16px); /* blur background */
}

.contextmenu {
  position: absolute;
  z-index: 1000;
  display: none;
  overflow: hidden;
}

.menu-item {
  display: flex;
  align-items: center;
}
