/* use Digital Color Meter with sRGB mode to get correct color */
$panel-alpha: 0.8125;

/* light */
$panel-color-light: rgba(240, 240, 240, $panel-alpha);
$panel-border-color-light: rgb(0 0 0 / 17.5%);
$vertical-border-color-light: rgba(224, 224, 224, $panel-alpha);
$text-color-light: rgb(0 0 0 / 70%);

/* dark */
$panel-color-dark: rgba(60, 60, 60, $panel-alpha);
$panel-border-color-dark: rgb(0 0 0 / 47.5%);
$vertical-border-color-dark: rgba(85, 85, 85, $panel-alpha);
$text-color-dark: rgb(255 255 255 / 90%);

/* accent color */
$light-blue: rgb(0 90 216);
$dark-blue: rgb(0 89 208);
$light-purple: rgb(125 42 126);
$dark-purple: rgb(128 52 130);
$light-pink: rgb(217 59 134);
$dark-pink: rgb(201 51 120);
$light-red: rgb(196 38 43);
$dark-red: rgb(209 53 57);
$light-orange: rgb(217 107 10);
$dark-orange: rgb(200 96 4);
$light-yellow: rgb(214 164 14);
$dark-yellow: rgb(209 158 0);
$light-green: rgb(76 160 50);
$dark-green: rgb(67 146 42);
$light-graphite: rgb(128 128 128);
$dark-graphite: rgb(105 105 105);

.macos {
  &.panel {
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
    background-clip: padding-box; /* make border alpha and content alpha independent */
    font-family: sans-serif;
    box-shadow: 0 10px 20px rgb(0 0 0 / 14%),
                0 0 25px rgb(0 0 0 / 12%);
    transform: translate(25px, 25px);
  }

  .candidate, .preedit, .aux-up, .aux-down {
    min-height: 24px; /* compromise to 🀄's height */
    min-width: 16px;
    padding: 3px 7px; /* combine min-height, min-width and padding to make aux-up a square for 小 and A */
    background-clip: padding-box;
  }

  .candidates.vertical .candidate:not(:first-child) {
    border-top-width: 1px;
    border-top-style: solid;
  }
}

.macos.light {
  &.panel {
    border-color: $panel-border-color-light;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  .candidate, .header {
    color: $text-color-light;
    background-color: $panel-color-light;
  }

  .candidate.highlighted {
    color: white;
  }

  &.blue .candidate.highlighted {
    background-color: $light-blue;
  }

  &.purple .candidate.highlighted {
    background-color: $light-purple;
  }

  &.pink .candidate.highlighted {
    background-color: $light-pink;
  }

  &.red .candidate.highlighted {
    background-color: $light-red;
  }

  &.orange .candidate.highlighted {
    background-color: $light-orange;
  }

  &.yellow .candidate.highlighted {
    background-color: $light-yellow;
  }

  &.green .candidate.highlighted {
    background-color: $light-green;
  }

  &.graphite .candidate.highlighted {
    background-color: $light-graphite;
  }

  .candidates.vertical .candidate:not(:first-child) {
    border-top-color: $vertical-border-color-light;
  }
}

.macos.dark {
  &.panel {
    border-color: $panel-border-color-dark;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  .candidate, .header {
    color: $text-color-dark;
    background-color: $panel-color-dark;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  .candidate.highlighted {
    color: white;
  }

  &.blue .candidate.highlighted {
    background-color: $dark-blue;
  }

  &.purple .candidate.highlighted {
    background-color: $dark-purple;
  }

  &.pink .candidate.highlighted {
    background-color: $dark-pink;
  }

  &.red .candidate.highlighted {
    background-color: $dark-red;
  }

  &.orange .candidate.highlighted {
    background-color: $dark-orange;
  }

  &.yellow .candidate.highlighted {
    background-color: $dark-yellow;
  }

  &.green .candidate.highlighted {
    background-color: $dark-green;
  }

  &.graphite .candidate.highlighted {
    background-color: $dark-graphite;
  }

  .candidates.vertical .candidate:not(:first-child) {
    border-top-color: $vertical-border-color-dark;
  }
}
