name: ci

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install dependencies
        run: sudo apt install -y clang-format

      - name: Lint
        run: |
          find include preview src -name '*.mm' -o -name '*.hpp' -o -name '*.cpp' | xargs clang-format -Werror --dry-run

  build:
    needs: lint
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-26, ubuntu-24.04]

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true

      - uses: actions/setup-node@v6
        with:
          node-version: 24.x

      - name: Install node dependencies
        run: |
          npm i -g pnpm
          pnpm i

      - name: Lint and Check type
        if: startsWith(matrix.os, 'ubuntu')
        run: |
          pnpm run lint
          pnpm run check

      - name: Install dependencies (macOS)
        if: startsWith(matrix.os, 'macos')
        run: |
          brew install nlohmann-json

      - name: Install dependencies (Ubuntu)
        if: startsWith(matrix.os, 'ubuntu')
        run: |
          sudo apt update
          sudo apt install -y \
            nlohmann-json3-dev \
            libwebkit2gtk-4.1-dev \
            libcurl4-openssl-dev
          # npx playwright install-deps

      - name: Configure (macOS)
        if: startsWith(matrix.os, 'macos')
        run: |
          cmake -B build -G Ninja \
            -DWKWEBVIEW_PROTOCOL="fcitx" \
            -DWEBVIEW_WWW_PATH=".local/share/fcitx5/www" \
            -DCMAKE_BUILD_TYPE=Release

      - name: Configure (Ubuntu)
        if: startsWith(matrix.os, 'ubuntu')
        run: |
          cmake -B build -G Ninja \
            -DCMAKE_BUILD_TYPE=Release

      - name: Build
        run: cmake --build build

      - name: Test
        if: startsWith(matrix.os, 'macos') # Ubuntu fails Set layout for 1px
        run: |
          npx playwright install webkit
          curl -LO https://github.com/fcitx-contrib/fcitx5-webview/releases/download/latest/snapshots.tar.bz2
          tar xf snapshots.tar.bz2
          pnpm run test

      - name: Upload test results
        if: ${{ failure() }}
        uses: actions/upload-artifact@v6
        with:
          name: test-results
          path: test-results

      - name: Setup tmate session
        if: ${{ failure() }}
        uses: mxschmitt/action-tmate@v3
